.Header-Board {
  align-items: center;
  background: whitesmoke;
  border-radius: 30px;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  height: 100px;
  justify-content: space-around;
  opacity: 0.9;
  overflow: auto;
  width: 100%;
}

.glass {
  backdrop-filter: blur(12px);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
}

.Info-Board {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
}

.gravatar-icon {
  border-radius: 50%;
  height: 80px;
}
