form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Input-Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  margin: 20px;
  width: 50px;
}

.buttons-login {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

/* From uiverse.io by @adamgiebl */
.card {
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  border-radius: 20px;
  box-shadow: -20px -20px 1000px #999;
  color: #f9f9f9;
  height: 354px;
  padding: 16px;
  transition: all 0.3s;
  width: 300px;
}

/* From uiverse.io by @namecho */
.button-login, .button-login:after {
  background: linear-gradient(45deg, transparent 5%, white 5%);
  border: 0;
  box-shadow: 6px 0 0 #0b76b7;
  color: black;
  display: flex;
  font-size: 18px;
  justify-content: center;
  letter-spacing: 3px;
  line-height: 1;
  margin: 5px;
  outline: transparent;
  padding: 16px 20px;
  position: relative;
}

.button-login:after {

  --slice-0: inset(50% 50% 50% 50%);

  --slice-1: inset(80% -6px 0 0);

  --slice-2: inset(50% -6px 30% 0);

  --slice-3: inset(10% -6px 85% 0);

  --slice-4: inset(40% -6px 43% 0);

  --slice-5: inset(80% -6px 5% 0);
  background: linear-gradient(45deg, transparent 3%, #0b76b7 3%, #0b76b7 5%, black 5%);
  bottom: 0;
  clip-path: var(--slice-0);
  content: "Let'go!";
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: -3px -3px 0 #05802e , 3px 3px 0 #0b76b7;
  top: 0;
}

.button-login:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {

  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
