body {
  background: black;
}

a {
  text-decoration: none;
}

.App {
  background: black;

  /* stylelint-disable-next-line font-family-name-quotes  */
  font-family: 'Source Code Pro' , 'VT323' , monospace;
  justify-content: center;
  position: relative;
  text-align: center;
}

.RataAlada-board {
  color: #32c415;
  padding: 30px;
}

/* DEMO-SPECIFIC STYLES */
.primeiro {
  animation: typing 3.5s steps(30, end) , blink-caret 0.5s step-end infinite;
  border-right: 0.15em solid black(0, 0, 0); /* The typwriter cursor */
  color: #32c415;
  font-family: monospace;
  letter-spacing: 0.15em; /* Adjust as needed */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
}

/* The typing effect */

@keyframes typing {

  from { width: 0; }

  to { width: 100%; }
}

/* The typewriter cursor effect */

@keyframes blink-caret {

  from, to { border-color: transparent; }

  50% { border-color: black(0, 0, 0); }
}

/* DEMO-SPECIFIC STYLES */
.segundo {
  animation: typing 3.5s steps(30, end) , blink-caret 0.5s step-end infinite;
  border-right: 0.15em solid black(0, 0, 0); /* The typwriter cursor */
  color: #32c415;
  font-family: monospace;
  letter-spacing: 0.15em; /* Adjust as needed */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
}

/* The typing effect */

@keyframes typing {

  from { width: 0; }

  to { width: 100%; }
}

/* The typewriter cursor effect */

@keyframes blink-caret {

  from, to { border-color: transparent; }

  50% { border-color: black(0, 0, 0); }
}

.App-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 15%;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
